* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.nav h3{background: linear-gradient(90deg, #FFD700, #FF8C00); -webkit-background-clip: text; color: transparent;
}
.nav {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem; /* Reduced padding to decrease height */
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.nav:hover {
    background-color: rgba(0, 0, 0, 0.65);
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 1rem; /* Adds space between logo and first nav link */
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav li {
    position: relative;
}

.nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease, transform 0.3s ease;
    padding: 0.25rem 0.5rem;
}

.nav li a:hover {
    color: #ffcc00;
    transform: translateY(-2px);
}

.nav li a::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ffcc00;
    transition: width 0.3s ease;
}

.nav li a:hover::after {
    width: 100%;
}
